
.main-header {
    background-color: #E3B7AB;
    padding: 3em;
    text-align: center;
    color: white;
}

.title {
    font-family: 'Lobster', cursive;
}

.add-item {
    color: white;
    background-color: #90A088;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 72px;
    margin: auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding-bottom: 10px;
    font-weight:bold;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
}

.new-task {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.task-content {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 24px;
    background-color: #90A088;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

.primary-content {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.list > div {
    padding: 20px;
    font-family: 'Lobster', cursive;
    background-color: #90A088;
    margin: 10px 10px 0px 10px;
    width: 100%;
}

.sidebar {
    width: 40%;
    background-color: #C7D2C7;
    margin: 10px 10px 0px 0px;
}